.fotter-groupe{
  margin-top:20px;
  width: 100%;
  min-width: 800px;
  height: 100px;
  background-color:#cbedff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-groupe-list{
  display: flex;
  justify-content: center;
}

.toricafe-icon-footer{
  width:150px;
  border-radius: 50%;
  margin: 20px auto;
}

.footer-copyright{
  display: flex;
  font-size: 15px;
  align-items: flex-end;
}



@media  (max-width:767px){
  .footer-groupe-list{
    display: flex;
    justify-content: flex-start;
    padding-left: 70px;
  }
 

}