* {
  box-sizing: border-box;
}


.top-page-header {
  width: 100%;
  
  display: flex;
  flex-direction: column;
  background-color:#cbedff;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toricafe-icon {
  width: 15vw;
  margin-right: 10vw;
  border-radius: 50%;
}


.search-form-header{
  display: flex;
  margin-right: 300px;
}

.search-input-header{
  width: 500px;
}

.search-btn-header{
  width: 100px;
}


.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}




.lists-right-header {
  display: flex;
  list-style: none;
  align-items: right;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}






@media  (max-width:767px){

  .search-form-header{
    width: 100%;
  }
  .search-input-header{
    width: 150px;
  }
  
  .search-btn-header{
    width: 60%;
  }

  .toricafe-icon{
    width: 120px;
  }

  .nav li{
    font-size: 10px;
    
  }

  header{
    height: 120px;
  }

  .top-page-header{
    padding-top: 20px;
  }
  
}