.new {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid gray;
}

.posts_top {
  background-color: #343A40;
  text-align: center;
  color: white;
  padding: 6px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.new_container {
  padding: 20px;
}

.midashi {
  padding: 0.25em 0.5em;
  margin-top: 20px;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hosoku {
  margin: 10px 0;
}


textarea.form-control {
  height: auto;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  margin-top: 20px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn {
  width: 560px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




.return-top{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  width: 560px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 20px;
  color: #fff;
  background-color: gray;
  border-color: #007bff;
}
