* {
  text-decoration: none;
}

.top-comment {
  text-align: center;
  
}

.ribbon13-wrapper {  
  display: block;
  position: relative;
  margin: 15px auto;
  padding: 10px 0;
  width: 300px;
  background: #f1f1f1;
  }

.ribbon13 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 5px 0;
  margin: 0 0 0 -20px;
  width: calc(100% + 20px);
  color: white;
  background: #70a6ff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.ribbon13 h3{
  margin: 0;
  padding: 0 30px 0 15px;
  border-top: dashed 1px #FFF;
  border-bottom: dashed 1px #FFF;
  font-size: 20px;
  line-height: 46px;
}

.ribbon13:after {
  position: absolute;
  content: '';
  z-index: 1;
  top: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-width: 30px 15px 30px 0px;
  border-color: transparent #f1f1f1 transparent transparent;
  border-style: solid;
}

.ribbon13:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #6081b7;
}

.box14{
  width: 40%;
  padding: 10px;
  margin: 0 auto 20px;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}
.box14 p {
  margin: 0; 
  padding: 0;
}

.btn-flat-dashed-filled {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: dashed 1px #67c5ff;
  background: #f2fcff;
  border-radius: 3px;
  transition: .4s;
  margin: 20px auto;
}

.btn-flat-dashed-filled:hover {
  background: #cbedff;
  color: #FFF;
}

.btn-flat-dashed-filled a{
  color: #67c5ff;
}









.guest-login{
  margin: 20px auto 0px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;

}

.guest-loginch:hover {
  border: dotted 1px #FFF;
}




.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
 
}

.list-groupe{
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.main-contents{
  border: 1px solid gray;
  margin-top: 20px;
  height: 900px;
}

.main-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  vertical-align: middle;
  border-style: none;
}

.content-wrapper{
  padding: 15px;
  overflow:hidden;
  text-align: left;
}

.title a{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.title{
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  
}

.title p{
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.main-message{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.main-message .box-title{
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}

.main-message p{
  margin: 0; 
  padding: 0;
}

.count{
  float: right;
}

.right-container{
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

.right-container .box-title{
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}

.right-container p{
  margin: 0; 
  padding: 0;
}

.box5 {
  
  width: 500px;
  padding: 0.5em 1em;
  margin: 20px auto;
  border: double 5px #4ec4d3;
}
.box5 p {
  margin: 0; 
  padding: 0;
}


.box26 {
  position: relative;
  margin: 20px auto;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  width: 600px;
  text-align: left;
}

.box26 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}
.box26 p {
  margin: 0; 
  padding: 10px 0;
  color: #4ec4d3;
}

.box26 a {
  
  color: #4ec4d3;
}



.box10 {
    padding: 0.5em 1em;
    margin: 30px auto;
    color: #00BCD4;
    background: #e4fcff;/*背景色*/
    border-top: solid 6px #1dc1d6;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    width: 400px;
    height: 100px;
    
}
.box10 p {
    margin: q; 
    padding: 0;
    text-align: center;
    
}



@media  (max-width:767px){
  .count{
    float: right;
    margin-right: 150px;
}
  .item-lists{
    margin: 0px 0px 0px 35px;
  }

.guest-login{
  margin: 10px 30px 10px 47px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;

}

.guest-loginch:hover {
  border: dotted 1px #FFF;
}




  }

  