.show {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  background-color: #cbedff;
}

.show-image {
  text-align: center;
  margin: 30px auto;
}

.title-show {
  text-align: center;
  margin-top: 20px;
}

.title-show{
  color: #6cb4e4;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  
}

.title-show p{
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}



.main-message-show{
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  width:290px;
  background-color: #fff;
}

.main-message-show .box-title{
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #84d3ef;
  color: #fff;
  font-weight: bold;
}

.main-message-show p{
  margin: 0; 
  padding: 0;
}












.buy {
  text-align: center;
}

.post-message {
  padding: 40px 20px;
  background-color: #F8F9FA;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 30px auto;
}

.post-user-time{
  text-align: left;
  line-height: 1px;
  margin: 20px 0;
}


.btn-stitch {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  margin: 20px 0;
  width: 70%;
}

.return-top-show{
  margin: 20px auto;
  text-decoration: none;
  width: 70%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 20px;
  color: #fff;
  background-color: gray;
  border-color: #007bff;
}

.item-red-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  margin: 20px 0;
  width: 70%;
}

.item-destroy {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
  margin: 20px 0;
  width: 70%;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container-show {
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  width: 800px;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
}

.comments a {
  color: #57C3E9;
}

.comments a:hover {
  text-decoration: underline;
}


.search-form {
  text-align: center;
  padding-top: 32px;
}


.box14-comment{
  width: 450px;
  padding: 0.2em 0.5em;
  margin: 20px auto;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}
.box14-comment p {
  margin: 0; 
  padding: 0;
  color: #4ec4d3;
}



@media  (max-width:767px){
  .box14-comment{
    width: 350px;
    padding: 0.2em 0.5em;
    margin: 20px auto;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
  }
  .box14-comment p {
    margin: 0; 
    padding: 0;
    color: #4ec4d3;
  }

  
  }
